
<div class="container">
  <span class="title">supermercado  <input type="search" [(ngModel)]="searchText" ></span><span class="glyphicon glyphicon-search"></span>
</div>
{{stocks|json}}
<br>
<br>

<div class="row">
        
          <div class="col-sm-10">
            <div  *ngFor="let producto of stocks | filterProductos : searchText" class="col-sm-3">
              <div class="thumbnail">
                <img src="{{producto.foto}}" alt="foto_producto" class="foto" >
                <div class="caption">
                  <hr>
                  <p *ngIf="producto.oferta"class="precio">{{producto.precio}}, {{producto.precio_oferta}} <img  class="descuento"src="https://images.vexels.com/media/users/3/126923/isolated/preview/38cb6c3bde8dfa45a11d71a5e45e88fb-10-por-ciento-etiqueta-de-venta-con-descuento-by-vexels.png" alt=""> </p>
                  <p *ngIf="!producto.oferta"class="noprecio">{{producto.precio}}  </p>
                  <p class="precio_unidad">({{producto.precio_unidad}})</p>
                  <p>{{producto.nombre}}</p>
                  <div class="center">
                   
                      <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]" >
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number" value="1" [(ngModel)]="numero" >
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" (click)="sumar()" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                      </div>
                  
                </div>
                 
                  
                  <hr>
                <button type="button" class="btn btn-success">Añadir al carrito</button>
              </div>
            </div>
          
          
        </div> 
      </div> 
        
    
      
    
      
   