.foto{
    height: 100px;
    width: 100px;
}
.container{
    background-color: black;
    margin-left: 0px;
    margin-right: 0px;
}
.title{
    padding-left: 319px;
    font-size:1.5em;
}
.thumbnail{
    height: 400px;
    width: 150px;
}
.precio{
    color:red;
}
.precio_unidad{
    color:gray;
}
.noprecio{
    color:black;
}


    
.descuento {
    height: 25px;
}
