.foto{
    height: 100px;
    width: 100px;
}

.title{
    color:white;
    font-size:1.2em;
    position: absolute;
    margin-left: 300px;
}
.thumbnail{
    height: 400px;
    width: 150px;
}
.buscador{
    margin-left:10px;
    color:black
}
.precio{
    color:red;
}
.precio_unidad{
    color:gray;
}
.noprecio{
    color:black;
    //font-weight: bold;
}


    
.descuento {
    margin-top: -299px;
    margin-left: -117px;
    height: 39px;
}
.tacahado{
    text-decoration:line-through;
    color:black;
    //font-weight: bold;
}
.notachado{
    font-weight: bold;
}
.carrito{
    background-color: green;
    width: 200px;
}
