.foto{
    height: 100px;
    width: 100px;
}

.navbar-brand{
    margin-right: -127px;
}

.thumbnail{
    height: 400px;
    width: 150px;
}
.buscador{
    margin-left:10px;
    color:black
}
.precio{
    color:red;
}
.precio_unidad{
    color:gray;
}
.noprecio{
    color:black;
    //font-weight: bold;
}


    
.descuento {
    margin-top: -299px;
    margin-left: -117px;
    height: 39px;
}
.tacahado{
    text-decoration:line-through;
    color:black;
    //font-weight: bold;
}
.notachado{
    font-weight: bold;
}
.carrito{
    background-color: green;
    width: 200px;
}

li{ list-style:none;}
.buscador
{
    width: 400px;
}
.lupa{
    margin-left: -172px;
}